@import '../bower_components/Materialize/sass/materialize.scss';

html {
    font-family: "Industry", sans-serif;
}

$color: #814C9E;

.header-404 {
	color: $color;
}

.header {
	transition-duration: .8s;
	padding-top: 25vh;

	&.not-home {
		padding-top: 2vh;
	}

	.logo {
		position: relative;
		display: block;

		&.row {
			margin-bottom: 0;
		}		
		.main-logo-wrapper {
			position: relative;
			height: auto;
			//width: 50%;
			.star {
				width: 4%;
				height: auto;
				position: absolute;
				top: -10%;
				transform-origin: 50% 50%;

				&.star-1 {
					left: 33%;
					animation: star-rotate 8s linear infinite forwards;
				}

				&.star-2 {
					left: 77.6%;
					animation: star-rotate 8s -1s linear infinite forwards;
				}
			}
		}
	}
}

nav.home-nav {
	background-color: transparent;
	box-shadow: none;

	ul {
		a {
			color: #231F20;
			font-size: 1.4rem;
		}
	}
}

@keyframes star-rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}