<div class="content-block album-list" [ngClass]="{'show': show}">
  <h4>Photography</h4>
  <div class="row">
    <div class="col s12 m6" *ngFor="let album of albums">
      <div class="card medium">
        <div class="card-image">
          <img [src]="album.primary_photo_extras.url_m" [alt]="album.title._content" />
          <span class="card-title">{{album.title._content}}</span>
        </div>
        <div class="card-content">
          <p>{{album.description._content}}</p>
        </div>
        <div class="card-action lighten-1">
          <a [routerLink]="['/photography/album/', album.id]" class="grey-text darken-3">View Photos</a>
        </div>
      </div>
    </div>
  </div>
</div>
