<h3>Content Pages</h3>
<table>
  <thead>
    <tr>
        <th data-field="title">Title</th>
        <th data-field="title">Key</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let page of pages">
      <td>{{page.title}}</td>
      <td>{{page.key}}</td>
      <td>
        <button md-icon-button [routerLink]="['/manage/pages/edit',page.id]">
          <md-icon>mode_edit</md-icon>
        </button>
        <button md-icon-button (click)="confirmDelete(page.id)" class="link-pointer">
          <md-icon>delete</md-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="fixed-action-btn add-page">
  <a class="btn-floating btn-large waves-effect waves-light deep-purple" routerLink="/manage/pages/add">
    <i class="material-icons">add</i>
  </a>
</div>
