nav.home-nav {
  background-color: transparent;
  box-shadow: none;

  ul {
    a {
      color: #231F20;
      font-size: 1.4rem;
    }
    li ul {
      a {
        font-size: 1rem;
      }
    }
  }
}
