        <div class="logo">
        	<div class="main-logo-wrapper">
	        	<img class="star star-1" src="/assets/star.svg" alt="star 1" />
	        	<img class="star star-2" src="/assets/star.svg" alt="star 2" />
	        	<img src="/assets/JessicaJaniuk.svg" alt="Jessica Janiuk" />
        	</div>
        </div>
        <nav class="home-nav">
        	<ul>
        		<li><a ui-sref="about">About</a></li>
        		<li><a ui-sref="blog">Blog</a></li>
        		<li><a ui-sref="photography">Photography</a></li>
        		<li><a ui-sref="r2d2">R2-D2</a></li>
        		<li><a href="https://www.youtube.com/janiukjf" target="_blank">YouTube</a></li>
        		<li><a href="https://github.com/janiukjf" target="_blank">Github</a></li>
        		<li><a ui-sref="connect">Connect</a></li>
        	</ul>
    	</nav>
