<h3><span>{{addOrEdit()}}</span> Page</h3>
<div class="row">
  <form class="col s12" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col s8">
        <md-input-container style="width: 100%">
          <input mdInput
                 placeholder="Page Title"
                 name="title"
                 type="text"
                 required
                 [(ngModel)]="page.title"
          >
        </md-input-container>
      </div>
      <div class="col s4">
        <md-input-container style="width: 100%">
          <input mdInput
                 placeholder="Page Key"
                 name="key"
                 type="text"
                 required
                 [(ngModel)]="page.key"
          >
        </md-input-container>
      </div>
      <div class="col s12">
        <label for="content">Page Content</label>
        <app-tinymce name="content" [elementId]="'content'" [(ngModel)]="page.content" ngDefaultControl></app-tinymce>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <button md-raised-button class="right" color="primary" type="submit">Save</button>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <h5>Meta Tags</h5>
      </div>
      <div class="col s2">
        <md-select placeholder="Open Graph" required name="open-graph" [(ngModel)]="metaChoice" ngDefaultControl>
          <md-option *ngFor="let metaOpt of metaOptions" [value]="metaOpt">
            {{ metaOpt }}
          </md-option>
        </md-select>
      </div>
      <div class="col s10">
        <md-input-container class="width-75">
          <input mdInput
                 placeholder="meta value"
                 type="text"
                 name="tag"
                 [(ngModel)]="metaValue"
          >
        </md-input-container>
        <button (click)="addMeta()" type="button" color="secondary">Add</button>
      </div>
      <div class="col s12">
        <ul *ngIf="page.meta" class="meta-list">
          <li *ngFor="let meta of page.meta;">
            {{meta.tag}} - {{meta.value}} <a (click)="removeMeta(meta)" style="cursor: pointer;">&times;</a>
          </li>
        </ul>
      </div>
    </div>  </form>
</div>
