.header {
  transition-duration: .8s;
  padding-top: 25vh;

  &.not-home {
    padding-top: 2vh;
  }

  .logo {
    position: relative;
    display: block;

    &.row {
      margin-bottom: 0;
    }
    .main-logo-wrapper {
      position: relative;
      height: auto;
      .star {
        width: 4%;
        height: auto;
        position: absolute;
        top: -10%;
        transform-origin: 50% 55%;

        &.star-1 {
          left: 32%;
          animation: star-rotate 8s linear infinite forwards;
        }

        &.star-2 {
          left: 79.8%;
          animation: star-rotate 8s -1s linear infinite forwards;
        }
      }
      .logo-name {
        width: 100%;
      }
    }
  }
}
