ul.tag-list {
  display: block;

  li {
    display: inline;
    &:after {
      content: ", ";
    }
    &:last-child {
      &:after {
        content: "";
      }
    }
  }
}

ul.meta-list {
  display: block;
}
