<nav class="home-nav">
  <ul>
    <li routerLinkActive="active" class="hide-on-med-and-down"><a routerLink="about">About</a></li>
    <li routerLinkActive="active"><a routerLink="blog">Blog</a></li>
    <li routerLinkActive="active" class="hide-on-med-and-down"><a routerLink="photography">Photography</a></li>
    <li routerLinkActive="active" class="hide-on-med-and-down"><a routerLink="r2d2">R2-D2</a></li>
    <li class="hide-on-small-only"><a href="https://www.linkedin.com/in/jessicajaniuk" target="_blank">LinkedIn</a></li>
    <li class="hide-on-med-and-down"><a href="https://github.com/janiukjf" target="_blank">Github</a></li>
    <li routerLinkActive="active"><a routerLink="connect">Connect</a></li>
    <li class="hide-on-large-only">
      <a aria-label="Open More Navigation Items Menu" [mdMenuTriggerFor]="menu">
        <span>More</span>
        <md-icon>arrow_drop_down</md-icon>
      </a>
      <md-menu #menu="mdMenu" width="4">
        <button md-menu-item routerLink="about">About</button>
        <button md-menu-item routerLink="photography">Photography</button>
        <button md-menu-item routerLink="r2d2">R2-D2</button>
        <button md-menu-item class="hide-on-med-and-up" href="https://www.linkedin.com/in/jessicajaniuk" target="_blank">LinkedIn</button>
        <button md-menu-item href="https://github.com/janiukjf" target="_blank">Github</button>
      </md-menu>
    </li>
 </ul>
</nav>
