<nav class="manage-nav">
   <div class="nav-wrapper">
     <ul>
      <li routerLinkActive="active"><a routerLink="/manage/blog">Blog</a></li>
      <li routerLinkActive="active"><a routerLink="/manage/pages">Pages</a></li>
      <li routerLinkActive="active"><a routerLink="/manage/connections">Connections</a></li>
      <li routerLinkActive="active"><a routerLink="/manage/categories">Categories</a></li>
    </ul>
    <ul class="right">
      <li routerLinkActive="active"><a routerLink="/manage/users">Users</a></li>
      <li><a routerLink="/" (click)="logout()">Log Out</a></li>
    </ul>
  </div>
</nav>
