@import "materialize/materialize.scss";
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.scss';

$link-color: color("grey", "darken-2") !default;

html {
    font-family: "Industry", sans-serif;
}

.link-pointer {
  cursor: pointer;
}

.content-block {
  display: block;
  padding-top: .5rem;
}

.width-100 {
  width: 100%;
}

.width-75 {
  width: 75%;
}

@keyframes star-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
