@import "materialize/materialize.scss";

@import "app/logo-header/logo-header.component.scss";
@import "app/navigation/navigation.component";
@import "app/notfound/notfound.component";
@import "app/about/about.component";

$link-color: color("grey", "darken-2") !default;

html {
    font-family: "Industry", sans-serif;
}

.content-block {
  display: block;
  padding-top: .5rem;
}

@keyframes star-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
