@import "materialize/materialize.scss";
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.scss';
@import 'animations';

$link-color: color("grey", "darken-2") !default;

html {
    font-family: "Industry", sans-serif;
    position: relative;
    height: 100%;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,d8d8d8+100 */
    background-color: #ffffff; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 60%, rgba(216,216,216,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 60%,rgba(216,216,216,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 60%,rgba(216,216,216,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-attachment: fixed;

    body {
      height: 100%;
    }
}

.bottom-gradient {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 35%;
  width: 100%;
  display: block;
  border-radius: 30% 30% 0 0;
  box-shadow: inset 0 50px 200px rgba(0, 0, 0, 0.1), 0 -66px 200px rgba(0, 0, 0, 0.1);
  z-index: 0;
}

.container {
  position: relative;
  z-index: 1;
}

.link-pointer {
  cursor: pointer;
}

.content-block {
  display: block;
  padding-top: .5rem;
}

.width-100 {
  width: 100%;
}

.width-75 {
  width: 75%;
}

@keyframes star-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
